@model List<Task>
<h3>Tasks</h3>
<hr/>
<div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th></th>
            </tr>        
        </thead>

    </table>
</div>
    
        